<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/Timeline.css" rel="stylesheet" />
    <link href="~/Content/Admin/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css">
    <link href="~/Scripts/ColorPicker/reference/jQuery_implementation/jqColor.css" rel="stylesheet" />
    <link href="~/Content/Design.css" rel="stylesheet" />
    <link href="~/Content/Admin/Admin.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Areas/AdminPortal/Scripts/Admin/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-hover-dropdown.min.js"></script>
    
    <script src="~/Content/assets/js/jquery.dragtable.js"></script>
    <script src="~/Content/assets/js/jquery.card.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/Scripts/eskju.jquery.scrollflow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="~/Scripts/Snippits/naturalLanguageForm.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-touch.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
    <script src="~/Scripts/ColorPicker/reference/colors.js"></script>
    <script src="~/Scripts/ColorPicker/reference/colorPicker.data.js"></script>
    <script src="~/Scripts/ColorPicker/reference/colorPicker.js"></script>
    <script src="~/Scripts/ColorPicker/reference/jQuery_implementation/jqColor.js"></script>
    <link href="~/Content/Master/Master.less" rel="stylesheet"/>
    
</head>
<body>
    <div id="wrapper">
        @{
            Html.RenderPartial("_Navigation");
        }
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>

    

    <script src="~/Areas/AdminPortal/Scripts/Admin/AdminLayout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
