<section id="SettingsDashboard">
    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h1>
                        Your Website Status
                        <span id="Percent">0%</span>
                    </h1>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 center-div">
                    <div class="row row-no-padding" id="Progress">
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="title"><a id="Settings">Account Settings</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="title"><a id="Catalog">Product Catalog</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="title"><a id="Themes">Theme and Colors</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="title"><a id="Staff">Staff</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 card" id="FocusSection">
                <div id="Intro" class="col-lg-6 center-div">
                    <p>
                        Here's your site dashboard;<br/> don't worry, the point of succinct is to be easy and simple.<br/>
                        We'll help you get started and familiarize yourself with our site, and yours.
                    </p>
                </div>
                <div id="HelpArea" class="col-lg-6 center-div">
                    <object type="application/x-shockwave-flash" style="width:100%; height:480px;" data="//www.youtube.com/v/Jm_Ch-iESBg?color2=FBE9EC&amp;hd=1&amp;version=3&amp;fs=1">
                        <param name="movie" value="//www.youtube.com/v/Jm_Ch-iESBg?color2=FBE9EC&amp;hd=1&amp;version=3&amp;fs=1" />
                        <param name="allowFullScreen" value="true" />
                        <param name="allowscriptaccess" value="always" />
                    </object><div style="font-size: 0.8em"><a href="https://www.tools4noobs.com/online_tools/youtube_xhtml/">Get your own valid XHTML YouTube embed code</a></div>
                </div>
                <div id="ProgressButtons">
                    <button class="btn btn-primary">Skip</button>
                    <button class="btn btn-primary">Continue</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/Areas/AdminPortal/Scripts/Admin/dashboard.js"></script>
}