<section id="Theme" class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1>Theme</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <input type="text" placeholder="Click me to get started" readonly="readonly" class="form-control input-lg" id="ColorTest" />
            </div>
            <div class="col-lg-6">
                <button id="Go" class="btn btn-lg btn-primary">Generate Color Scheme</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="ColorResult" class="row">



            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '#Go', function() {
            var color = $('#ColorTest').val();

            $('#ColorResult').load('/AdminPortal/Theme/ColorPallete?hexValue=' + encodeURIComponent(color), function() {

            });
        });

        var picker = $('#ColorTest').colorPicker();



    });
</script>