<section class="content jumbotron">
    <div id="homepage-3-carousel" class="nav-inside owl-animation">
        <div class="item slide-1">
            <div class="slide-mask"></div>
            <div class="slide-body">
                <div class="container">
                    <h1 class="grey-background animation top-to-bottom">Become a Member</h1>
                    <div><h2 class="grey-background animation bottom-to-top delay-1">Products up to 50% off</h2></div>
                </div>
            </div>
        </div>
        <div class="item slide-2">
            <div class="slide-mask"></div>
            <div class="slide-body">
                <div class="container">
                    <h1 class="color-background animation top-to-bottom">Welcome to Music City Games</h1>
                </div>
            </div>
        </div>
    </div>
</section>
